
<h1>Reserved by: <%= @reservation_entry.user.user_name %></h1>
<h2> Reserved at <%= @reservation_entry.formatted_created_at %>
<h3>Restaurant Name: <%= @reservation_entry.restaurant_name %></h3>
<h4>Number of Reserved Table: <%= @reservation_entry.numOfTable %></h4>

<% #the person who owns this entry, show edit and delete link  %>
<% if authorized_to_edit?(@reservation_entry)%></br>
<a href="/reservation_entries/<%= @reservation_entry.id %>/edit"> Edit Entry  </a>
</br>
<form class="" action="/reservation_entries/<%= @reservation_entry.id %>" method="post"> 
<input type="hidden" name="_method" value="DELETE"></br>
<input type="submit" name="" value="Delete this Entery">
</form>
<% end %></br>

<a href="/reservation_entries">Back</a> 